@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@469&display=swap');
body{
	margin:0px;	
	font-family: Oswald;
}

.container{
	display: grid;
	grid-template-rows: 1fr;
}

.navigator{
	display:flex;
	justify-content: space-between;
	padding-right:20px;
	margin:10px;

}
.rightSide{
	
	padding: 20px;
}
.leftSide{
	text-transform: uppercase;
	margin-left: 20px;
	padding: 20px;
}

#home{
	padding:20px,20px;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	color:#8a8a8a;
	transition: 1s;
}
#about{
	padding:20px,20px;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	color:#8a8a8a;
	margin-left: 20px;
}

#home:hover{
	transition: 1s;
	border-bottom: 1px solid black;
	color: black;
}

#about:hover{
	transition: 1s;
	border-bottom: 1px solid black;
	color:black;
}
/*Portfolio styles*/

.portfolio-items-wrapper{
	display: grid;
	
	
	grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper{
	position: relative;
}

.portfolio-img-background{
	height:350 px;
	width: fit-content ;
	
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
}


